aigc/.godot/editor/editor_layout.cfg
aigc/.godot/editor/filesystem_cache10
aigc/.godot/editor/filesystem_update4
aigc/.godot/editor/movement.gd-folding-60c92b5bd6b04ea403846050d6b977bc.cfg
aigc/.godot/editor/editor_layout.cfg
aigc/.godot/editor/filesystem_cache10
aigc/.godot/editor/filesystem_update4
